<div class="admin-reset-password-component">
  <div class="reset-password-card">
    <strong>Reset Password</strong>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter New Password"
        />
        <i
          class="fas"
          [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="toggleNewPasswordVisibility()"
        ></i>
      </div>
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm New Password"
        />
        <i
          class="fas"
          [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="toggleConfirmPasswordVisibility()"
        ></i>
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</div>
