<div id="container">
    <div id = sidebar>
        <div id="menu">
            <a routerLink="/my-account" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My Account</a>
            <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Settings</a>
            <a routerLink="/my-ads" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My Ads</a>
            <a routerLink="/my-reviews" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">My Reviews</a>
          </div>
    </div>
    
</div>

