<div class="container">
    <div class="img-container">
        <img src="../../../assets/images/faq.jpg" alt="">
    </div>

    <div class="content-container">
        <div>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I post an advertisement? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Listing your item on SecondHand.lk is both cost-free and straightforward! Just tap the 'POST AN
                        AD' button and proceed with these steps,</p>
                    <ul>
                        <li>Click on the 'Post Ad' button on the homepage.</li>
                        <li>If you are a new user, register on SecondHand.lk by entering your details.</li>
                        <li>If you are already a registered user, enter your email and password and submit.</li>
                        <li>Enter your ad details, upload photos, and click submit.</li>
                    </ul>
                    <p>Your advertisement will be published once it has been approved by our team. This process
                        typically takes only 15 to 30 minutes. Start selling on SecondHand.lk and connect with our
                        community today!</p>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I edit or delete my advertisement? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Follow these easy steps to edit or delete your advertisement,</p>
                    <ul>
                        <li>Log into a your account.</li>
                        <li>Go to your profile.</li>
                        <li>Go to My Ads page.</li>
                        <li>Delete or edit you advertisement easily.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> Why my ad rejected? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>If your advertisement has been deleted, it can due to some of these problem,</p>
                    <ul>
                        <li>Images are not clear enough.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I search for something I need on secondhand.lk? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Just go to the search bar,</p>
                    <ul>
                        <li>Type the product that you want.</li>
                        <li>Filter it by catergories, sub catergories, top ads, and nearest location advertisements.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How can I start chat with the seller? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>To start a chat with the seller, follow these steps, </p>
                    <ul>
                        <li>////</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I manage my profile? </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Follow these easy steps to manage my profile,</p>
                    <ul>
                        <li>Log into a your account.</li>
                        <li>Go to your profile.</li>
                        <li>Update your details in my account page.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I contact secondhand.lk for any inquiry or complaint?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>To give a complaint regarding a product, follow the following steps,</p>
                    <ul>
                        <li>Just go to the relavant advertisement.</li>
                        <li>Click on the report this advertisement option.</li>
                        <li>Give a reason for your report.</li>
                        <li>Add more details by giving a description.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> How do I rate and review a product?</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Follow these easy steps to rate and review a product,</p>
                    <ul>
                        <li>Just go to the relavant advertisement.</li>
                        <li>Click on the rate and review option.</li>
                        <li>Give your rating using 5 stars.</li>
                        <li>Submit a review regarding the product.</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>