<div class="profile-settings">
  <div class="settings-card">
    <strong>Profile Settings</strong>

    <div class="input-container">
      <label>Admin Name:</label>
      <span *ngIf="!isEditingName" class="info">{{ adminName }}</span>
      <input *ngIf="isEditingName" [(ngModel)]="adminName" class="info" />
      <a href="#" (click)="toggleEdit('name')" class="edit-link">
        {{ isEditingName ? 'Save' : 'Edit' }}
      </a>
    </div>

    <div class="input-container">
      <label>Admin Username:</label>
      <span *ngIf="!isEditingUsername" class="info">{{ adminUsername }}</span>
      <input *ngIf="isEditingUsername" [(ngModel)]="adminUsername" class="info" />
      <a href="#" (click)="toggleEdit('username')" class="edit-link">
        {{ isEditingUsername ? 'Save' : 'Edit' }}
      </a>
    </div>

    <div class="input-container">
      <label>Admin Email:</label>
      <span *ngIf="!isEditingEmail" class="info">{{ adminEmail }}</span>
      <input *ngIf="isEditingEmail" [(ngModel)]="adminEmail" class="info" />
      <a href="#" (click)="toggleEdit('email')" class="edit-link">
        {{ isEditingEmail ? 'Save' : 'Edit' }}
      </a>
    </div>

    <div class="input-container">
      <label>Change Password:</label>
     
        <span class="red-dot"></span>
      
    </div>

    <div class="button-container">
      <button class="confirm-button">Confirm</button>
      <button class="cancel-button">Cancel</button>
    </div>
  </div>
</div>
