<div class="container">
    <div class="img-container center">
        <img id="firstImg" src="../../../assets/images/sellFast1.png" alt="">
    </div>
    <h4 class="center">Sell Fast</h4>
    <p id="main-para" class="center">Here are some tips on how to create ads that capture buyer interest.</p>

    <div class="main-content-container">
        <div class="detail-container">
            <div class="img-left">
                <img src="../../../assets/images/sellFast2.png" alt="">
            </div>
            <div class="para">
                <p><strong>Include as much detail as possible.</strong> Ads with clear information attract more views! Use keywords and share details that buyers find interesting. Always be honest in your descriptions.</p>
            </div>
        </div>
    
        <div class="detail-container">
            <div class="img-left">
                <img src="../../../assets/images/sellFast3.png" alt="">
            </div>
            <div class="para">
                <p><strong>Increase your ad's appeal by adding great photos.</strong> Utilize clear images of the item for sale, as ads with real photos can attract up to 10 times more views than those with catalog or stock photos. Ensure good lighting and capture photos from various angles.</p>
            </div>
        </div>
    
        <div class="detail-container">
            <div class="img-left">
                <img src="../../../assets/images/sellFast4.png" alt="">
            </div>
            <div class="para">
                <p><strong>Choose the right price for your item.</strong> Find inspiration from similar ads on secondhand.lk. Generally, a competitive price boosts demand. Opt for the 'Negotiable' option if open to bargaining. Remember, the right price can make all the difference!</p>
            </div>
        </div>
    
        <div class="detail-container">
            <div class="img-left">
                <img src="../../../assets/images/sellFast5.png" alt="">
            </div>
            <div class="para">
                <p><strong>Boost your ad's visibility with Ad Promotions!</strong> After creating your excellent ad, apply Ad Promotions to attract more views and interested buyers. Higher demand increases your chances of selling quickly at your desired price.</p>
            </div>
        </div>
    </div>
</div>
