<div class="container">
    <div class="img-container">
        <img src="../../assets/pp-img.jpg" alt="">
    </div>
    <div class="content-container">
        <h4>Privacy Policy</h4><br>
        <h5>Collection</h5>
        <p>Information posted on SecondHand.lk is publicly available. By providing personal information, you consent to its transfer and storage on our servers. We collect and store:</p>
        <ul>
            <li>Email address, contact information, and sometimes financial details.</li>
            <li>Computer sign-on data, page views, traffic information, and responses to advertisements.</li>
            <li>Other information, including users' IP address and standard web log data.</li>
        </ul><br>

        <h5>Use</h5>
        <p>We use users' personal information to:</p>
        <ul>
            <li>Provide services</li>
            <li>Resolve disputes, collect fees, and troubleshoot problems</li>
            <li>Ensure safe trading and enforce policies</li>
            <li>Customize experiences, measure interest, and improve services</li>
            <li>Communicate marketing offers according to preferences</li>
            <li>Perform other actions as described during information collection</li>
        </ul><br>

        <h5>Cookie Policy</h5>
        <p><strong>What are cookies?</strong></p>
        <p>Cookies are text files that enhance browsing experience, remembering preferences, and providing relevant content.</p>
        <p><strong>Cookies and Personal Data</strong></p>
        <p>We use cookies and similar technologies for content personalization, ad serving, social media features, and traffic analysis. Third-party service providers may collect and use your data as per their privacy policies.</p>
        <p><strong>Types of Cookies We Use:</strong></p>
        <ul>
            <li>Session cookies: Required for service operation.</li>
            <li>reference cookies: Remember preferences and settings.</li>
            <li>Security cookies: Necessary for security</li>
        </ul>
        <p>You can control cookies through your browser settings. Note that rejecting cookies may limit service functionality.</p>
        <br>
        <h5>Disclosure</h5>
        <p>We don't sell or rent personal information for marketing without explicit consent. We may disclose it to meet legal requirements, enforce policies, respond to claims, or protect rights and safety.</p>
       <br>
        <h5>Communication and Email Tools</h5>
        <p>You may receive marketing communications unless you opt out. Don't use our site or tools for spam or violating terms. We scan and filter emails for security. Your friends' addresses used in tools aren't stored or used for marketing.</p>
        <br>
        <h5>Security</h5>
        <p>We use encryption, passwords, and physical security to protect personal information. Electronic details are kept private, except those disclosed by you. Disclosing others' contact information is unacceptable. Violating laws or terms forfeits privacy rights.</p>
        <p>This website uses Display Advertising and Remarketing technology with Google Analytics. Visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads using the Ads Preferences Manager.</p>
    </div>
</div>