<div class="adPromotions">
    <mat-card>
        <img mat-card-image src="../../../assets/images/ad_promotions.png" class="headerImage">
        <mat-card-header>
            <mat-card-title>Ad Promotions</mat-card-title>
            <mat-card-subtitle>While posting ads on SecondHand.lk is free, Ad Promotions is a paid tool designed to increase responses to your ads and accelerate your selling process.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image1"></div>
                      <mat-card-title>Bump Up</mat-card-title>
                      <mat-card-subtitle>Bring your ad to the first page, everyday</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        <b>Boost your ad's visibility with the Bump Up promotion!</b> By applying Bump Up, your ad is elevated to the top daily, gaining up to 10 times more views compared to regular ads. Bumped Up ads appear at the forefront of regular listings once a day and gradually move down as new ads are posted. This daily promotion cycle continues throughout the duration of the promotion.
                      </p>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image2"></div>
                      <mat-card-title>Top Ad</mat-card-title>
                      <mat-card-subtitle>feature your ad on top of the page</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        <b>Elevate your ad's visibility with the Top Ad promotion!</b> There are up to 2 spots reserved for Top Ads at the top of every ad listing page. By opting for the Top Ad promotion, your ad stands a chance to be showcased in these prime spots, potentially gaining up to 5 times or more views!
                      </p>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image3"></div>
                      <mat-card-title>Urgent</mat-card-title>
                      <mat-card-subtitle>Label your ad as urgent</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        <b>Need to sell urgently?</b> Apply the Urgent promotion to convey your urgency to buyers seeking great deals! Urgent ads stand out with a bright red marker, attracting attention.
                        Enhance visibility by combining this promotion with a Top Ad or Bump Up, ensuring your ad stays at the top of regular listings and receives up to 10 times more views.
                        Urgent ads have their own filter, making it easy for buyers to find them. Make your ad stand out and reach potential buyers quickly!
                      </p>
                    </mat-card-content>
                </mat-card>   
            </div>
        </mat-card-content>
    </mat-card>
</div>

