.formStyles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-bottom: 2rem;
  }
  
  /* stars syling */
  
  .star-rating {
      display: inline-block;
    }
  
    
    .star-rating input[type="radio"] {
      display: none;
    }
    
    .star-rating label {
      font-size: 30px;
      color: #ddd;
      float: right;
    }
    
    .star-rating label:before {
      content: '\2605';
    }
    
    .star-rating input[type="radio"]:checked ~ label {
      color: rgb(32, 241, 244);
    }
    
    .star-rating input[type="radio"]:checked ~ label:before {
      content: '\2605';
    }
    
  
  
  .right{
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  
  .right button {
    margin-top: 22%;
    align-self: flex-end;
  }
  
  
  
  .label1{
      color: #304E74;
      font-size: medium;
    }
    
    h4{
      color: #304E74;
    }
    
    p{
      color: #304E74;
      font-weight: lighter;
    }
    
    span{
      color: #304E74;
      font-weight: bold;
    }
    
    
  textarea{
      margin-top: 1vh;
      border:0.2vh solid #164a74;
      border-radius: 0.4vw;
  } 
  
     /* button styles */
  button{
    background-color: #164a74;
    color: white;
    padding: 0.7vw 1.4vw;
    border-radius: 0.5vw;
    margin-bottom: 10px;
  }
  /* Styles for disabled button */
  button:disabled {
    background-color: #c7d2ea;
    border: #c7d2ea;
    color: #788cb7;
    padding: 0.7vw 1.4vw;
    border-radius: 0.5vw; 
    margin-bottom: 10px; 
  }
  
     /* custom snack message styling */
  ::ng-deep .customSnackbar2 {
    border-radius: .5vw;
    outline: 2px solid red;
    --mdc-snackbar-container-color: rgba(255, 255, 255, 0.8); /* Transparent white */
    backdrop-filter: blur(1px); /* Apply blur effect */
    --mdc-snackbar-supporting-text-color:red;
  }
  ::ng-deep .customSnackbar2 button{
    color: white !important;
    background-color:red;
  }
  
  ::ng-deep .customSnackbar1 {
    border-radius: .5vw;
    outline: 2px solid #2a9af3;
    --mdc-snackbar-container-color: rgba(255, 255, 255, 0.8); /* Transparent white */
    backdrop-filter: blur(1px); /* Apply blur effect */
    --mdc-snackbar-supporting-text-color:#2a9af3;
  }
  ::ng-deep .customSnackbar1 button{
    color: white !important;
    background-color:#2a9af3;
  }

  .bg{
    background-color: #f4f4f4;
    padding: 2rem 4rem;
  }