table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &.show {
    display: block;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &.show {
    display: block;
  }

  button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    &.ban-user {
      background-color: #DB3E3E;
      color: #fff;

      &:hover {
        background-color: darken(#DB3E3E, 10%);
      }
    }

    &.cancel {
      background-color: #43F7C1;
      color: #fff;

      &:hover {
        background-color: darken(#43F7C1, 10%);
      }
    }
  }
}
