<div class="container">
    <img src="../../../assets/images/feedback.png" alt="Feedback Illustration" class="image">
    <h3>Feedback and Ratings</h3>
    <p>We have a robust rating and review system that includes both buyers and sellers.</p>
    <div class="content">
      <div class="rating-standards">
        <h3>Our Rating Standards</h3>
        <div class="stars">
          <span class="star filled">&#9733;</span>
          <span class="star filled">&#9733;</span>
          <span class="star filled">&#9733;</span>
          <span class="star filled">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
        <p class="ratingP">0 Stars: Completely unsatisfactory. The experience fell far below expectations, and there may have been significant issues or problems.</p>
        <p class="ratingP">1 Star: Very poor. The experience was disappointing, with multiple issues and a lack of satisfaction.</p>
        <p class="ratingP">2 Stars: Below average. The experience had noticeable flaws and shortcomings, leaving much to be desired.</p>
        <p class="ratingP">3 Stars: Average. The experience was neither particularly good nor bad, with some positive aspects but also room for improvement.</p>
        <p class="ratingP">4 Stars: Above average. The experience was generally positive, with notable strengths and few weaknesses.</p>
        <p class="ratingP">5 Stars: Excellent. The experience exceeded expectations in every way, demonstrating exceptional quality and satisfaction.</p>
      </div>
      <div class="description">
        <p>We encourage both buyers and sellers to rate and review each other after completing a transaction, providing valuable insights for both parties. This two-way advantage allows users to gain a better understanding of their trading partners.</p>
        <p>After a physical transaction, the seller can share a specific code provided by secondhand.lk with the buyer. The buyer can then use this code to go to the specific advertisement and rate and review the seller. Subsequently, the seller will receive notifications to rate and review the buyer.</p>
        <p>Our intention is to offer more comprehensive insights about users and enhance overall security in the trading process.</p>
      </div>
    </div>
  </div>
  