<!-- my-account.component.html -->
<div class="my-account-container">
    <div class="nav-bar-container">
      <app-profile></app-profile> <!-- Your profile component -->
    </div>
  
    <div class="content-container">
      <!-- Display user details -->
      <form #updateCompanyDetailsForm="ngForm">
        <div class="my-account-details">
          <div class="name-div">
            <label for="firstName">First Name</label>
            <input matInput type="text" class="form-control"
                   name="firstName" [(ngModel)]="userData.firstName" id="firstName" required>
          </div>
  
          <div class="name-div">
            <label for="lastName">Last Name</label>
            <input matInput type="text" class="form-control"
                   name="lastName" [(ngModel)]="userData.lastName" id="lastName" required>
          </div>
  
          <div class="email-div">
            <label for="email">E-Mail</label>
            <input matInput type="email" class="form-control"
                   name="email" [(ngModel)]="userData.email" id="email" disabled>
          </div>
          <div class="location-div">
            <label for="location">Location</label>
            <input matInput type="text" class="form-control"
                   name="location" [(ngModel)]="userData.location" id="location">
          </div>
          <div class="sLocation-div">
            <label for="subLocation">Sub Location</label>
            <input matInput type="text" class="form-control"
                   name="subLocation" [(ngModel)]="userData.subLocation" id="subLocation">
          </div>
        </div>
      </form>
      <hr>
      
      <div class="my-account-btn">
        <button (click)="update()">Update</button>
        <button (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>
  