<!-- my-account.component.html -->
<div class="my-account-container">
    <div class="nav-bar-container">
        <app-profile></app-profile> <!-- Your profile component -->
    </div>

    <div class="content-container">
        <!-- Display user details -->
        <div class="my-account-details">
            <div class="name-div">
                <p>Name</p>
                <p class="name-div-content">{{ user?.firstname }} {{ user?.lastname }}</p>
            </div>
            <div class="email-div">
                <p>E-mail</p>
                <p class="email-div-content">{{ user?.email }}</p>
            </div>
            <div class="location-div">
                <p>Location</p>
                <p class="location-div-content">{{ user?.location }}</p>
            </div>
            <div class="sLocation-div">
                <p>Sub Location</p>
                <p class="sLocation-div-content">{{ user?.subLocation }}</p>
            </div>
        </div>
        <hr>
        <div class="my-account-btn">
            <button>Delete Account</button>
            <button (click)="logout()">Log Out</button>
        </div>
    </div>
</div>
