.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p{
    text-align: center;
  }

  a{
    text-decoration: none;
    color: rgb(0, 98, 255);
  }


  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .invalid-feedback {
    color: #dc3545;
  }
  
  .btn {
    width: 100%;
  }
  
  .alert {
    margin-top: 1rem;
  }
  