@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.chat-container {
    position: absolute;
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* max-width: 500px; */
  width: 50%;
  padding: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.chat-header {
  background-color: #304E74;
  padding: 15px;
  color: #ffffff;
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  /* background-image: url('../../../assets/backchat.jpg'); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sent-by-user {
  align-self: flex-end;
  background-color: #304E74;
  color: #ffffff;
  margin-left: auto;
}

.admin-message {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #333333;
}

.message-text {
  display: block;
  margin: 5px 0;
  line-height: 1.4;
}

.message-time {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: right;
  margin-top: 3px;
}

.chat-input {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-top: 1px solid #eaeaea;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  font-size: 14px;
  background-color: #ffffff;
}

.chat-input input:focus {
  outline: none;
  border-color: #304E74;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #304E74;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #26395a;
}

.bg{
    background-image: url('../../../assets/chatbg.jpg');
    object-fit: cover;
    background-color: #304E74;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}