<div class="bg">
    <div class="chat-container">
        <div class="chat-header">
            <span class="chat-title">Chat with Admin</span>
        </div>
        <div class="chat-messages">
            <div *ngFor="let msg of messages" [ngClass]="{
             'sent-by-user': isSentByUser(msg),
             'admin-message': isAdminMessage(msg)
           }" class="message">
                <span class="message-text">{{ msg.message }}</span>
                <span class="message-time">{{ msg.timeStamp | date:'shortTime' }}</span>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" [(ngModel)]="message" placeholder="Type your message..." (keyup.enter)="sendMessage()" />
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>