body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    color:  #304E74;
 font-family: Arial, sans-serif;
}

.header img {
    width: 32%;
    margin-bottom: 3rem;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.content p {
    margin: 10px 0;
    line-height: 1.6;
    color: #304E74;
    font-family: Arial, sans-serif;

}
