
<div class="container">
    <div class="header">
      <img src="../../../assets/images/aboutUs.png" alt="About Secondhand.lk" height="200px" width="200px">
      <h1>About Secondhand.lk</h1>
    </div>
    <div class="content">
      <p>Your premier destination to buy and sell a variety of items. Our platform connects you with local deals, making it easy to find what you need.</p><br><br><br>
      <p>Your trusted marketplace for buying and selling! Have items to sell? Sign up for a free account in under 2 minutes. Check out our How to Sell Fast tips for creating compelling ads. Enhance your selling experience with a membership and explore tools on our Ad Promotions page.</p>
      <p>Secondhand.lk offers a vast selection across 50+ categories. Find the best deals on cars, phones, homes, computers, and more. Our user-friendly search and filters ensure you discover exactly what you're looking for. Join Secondhand.lk and experience seamless transactions in Sri Lanka's diverse marketplace.</p>
    </div>
  </div>
  