<div class="my-ads-container">
    
    <div class="nav-bar-container">
        <app-profile></app-profile>
    </div>

    <div class="content-container">
        <div class="my-ads">
            <div class="ads">
                <div class="ad">
                    <img src="assets/motorbike.jpg" class="motorbike-img" alt="Motorbike Image">
                </div>
                <div class="ad-details">
                    <p>CM 125 Custom</p>
                    <p>Rs. 300 000</p>
                    <p>Kaluthara, Panadura</p>
                </div>
            </div>
            <div class="buttons">
                <button id="sold-btn">Sold</button>
                <button id="delete-btn">Delete</button>
                <button id="modify-btn">Modify</button>
            </div> 
        </div>
        <hr>
        <p style="text-align: center;">Page 1 of 1</p> 
    </div>
   
</div>