<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Cart</title>
   
</head>
<body>
    

    <main>
        <div class="cart-container">
            <img src="../../assets/cart.png"height="20px" width="20px" > <h3>Wish List (1)</h3>
            
            
            
                <div class="item-meta">
                    <span>4 days</span>
                    <span class="delete-icon">🗑️</span>
                </div>
            </div>
       
    </main>

   
</body>
</html>