<div class="adPromotions">
    <mat-card>
        <img mat-card-image src="../../../assets/images/banner-ads.png" class="headerImage">
        <mat-card-header>
            <mat-card-title class="hTitle">Promote your brand on SecondHand.lk</mat-card-title>
            <mat-card-subtitle>post your banner ads on our website for great insights ! we show yur ads on catgory vise location wise urgent , top and many other specifi filters will matching your ads and display !</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>Dimensions : 1200 x 90 px</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        Display Your Ad at the Top of Our Homepage! Limited Spots Available, Secure Yours Now!, Don't miss the opportunity to showcase your ad at the prime location on our website. Act fast and grab one of the limited spots available!                      </p>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>Dimensions : 1200 x 280 px</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        Is Your Banner Big? We Have the Perfect Space for You!
                        Showcase Your Ad on Search Results and Specific Ad Results.
                        
                        Take advantage of our premium ad space to ensure your banner stands out on search results and specific ad pages. Don't miss out on this prime opportunity!                    </p>                     
                    </mat-card-content>
                </mat-card>   
            </div>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>Dimensions : 250 x 1200 px</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        Display Your Banner Ad on the Right Side of Advertisement Results!
                        Perfect for Vertical Banners!
                        
                        Maximize your visibility with our premium right-side ad space, ideal for vertical banners. This is the perfect match to ensure your ad gets noticed!                      </p>
                    </mat-card-content>
                </mat-card>   
            </div>
            <div>
                <mat-card class="Inside-card" appearance="outlined">
                    <mat-card-header>
                      <mat-card-title>Dimensions : 300 x 600 px</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                      <p>
                        Showcase Your Vertical Banner Ad on the Right Side of Advertisement Results!
                        The Perfect Spot for Vertical Banners!
                        
                        Maximize your visibility with our premium right-side ad space, specifically designed for vertical banners. Ensure your ad stands out and gets the attention it deserves!                    </p>                     
                    </mat-card-content>
                </mat-card>   
            </div>
            
        </mat-card-content>
    </mat-card>
</div>

