<!-- login.component.html -->
<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Login</h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-user p-2"></span>
                    <input type="text" placeholder="Email" formControlName="email">
                  </div>
                  <small *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="text-danger">*Email is required</small>
                  <small *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="text-danger">*Invalid email format</small>
                </div>
                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-lock p-2"></span>
                    <input type="password" placeholder="Password" formControlName="password">
                  </div>
                </div>
                  <small *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger">*Password is required</small>
                  <div class="form-inline fr mt-4">
                    <a routerLink="/forgotPassword" id="forget" class="font-weight-bold">Forgot password?</a>
                  </div>
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                <div class="text-center pt-4 text-muted"> Don't have an account? <a id="forget" routerLink="/register">Sign up</a></div>
                <div *ngIf="message" class="text-danger mt-2">{{ message }}</div>
              </form>
              
            </div>
            <div class="mx-3 my-2 py-2 bordert">
              <div id="googlelogo" class="text-center py-2">
                <!-- <a (click)="googleLogin()" class="google-btn">
                  <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="">
                  Continue with Google
              </a>               -->
            </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>  
  </div>
  