<div class="my-account-container">
    <div class="nav-bar-container">
        <app-profile></app-profile> 
    </div>
    <div class="change-password">
      <h6 style="color: rgb(1, 117, 172);">Change Password</h6>
      <div class="passwords">
          <input class="newPassword" [(ngModel)]="newPassword" type="password" placeholder="Enter a new password">
          <input class="confirmPassword"  [(ngModel)]="confirmPassword" type="password" placeholder="Confirm password">
      </div>            
      <button (click)="changePassword()">Change Password</button>
    </div>
      
</div>

