.dialog-container {
    padding: 4vh;
    text-align: center;
}

.dialog-header {
    color: #304E74;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

.amount-display {
    color: #304E74;
    font-size: 3.3vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.payment-element-container {
    margin: 3vh 0;
}

.dialog-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.dialog-actions button {
    min-width: 10vw;
}

#cancel_btn {
    color: white;
    background-color: rgb(250, 58, 58);
}
