<div class="container">
  <div class="header">
    <img src="../../../assets/images/contactUs1.png" alt="Contact Us">
    <h1>Contact Us</h1>
  </div>
  <div class="content">
    <p>Take a look at our FAQs and Stay Safe sections to see if we've already answered your question. If not, contact us, and we'll get back to you quickly.</p>
  </div>
  <div class="contact-methods">
    <div class="contact-method">
      <img src="../../../assets/images/contactUs2.png" alt="Contact Us">
      <div class="contact-text">
        <p><strong>Chat us</strong></p>
      </div>
    </div>
    <div class="contact-method">
      <img src="../../../assets/images/contactUs3.png" alt="Contact Us">
      <div class="contact-text">
        <div><strong>Email</strong></div>
        <div>sample.gmail.com</div>
      </div>
    </div>
    <div class="contact-method">
      <img src="../../../assets/images/contactUs4.png" alt="Contact Us">
      <div class="contact-text">
        <div><strong>Call</strong></div>
        <div>011xxxxxxxx</div>
      </div>
    </div>
  </div>
</div>
