@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.user-ratings-container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-ratings-container h2 {
  color: #304E74;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: -10px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-style: italic;
}

.chart-container {
  width: 100%;
  height: calc(100% - 40px); // Adjust this value if needed
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}