<div class="fullContainer">
    <div class="container">
        <div class="header">
            <img src="../../../assets/images/staysafe1.png" height="20%" width="20%">
            <h3>Stay Safe</h3>
            <div>At SecondHand.lk, we are 100% committed to ensuring that your experience on our platform is as safe as
                possible. Here's some advice on how to stay safe while using SecondHand.lk.</div>
        </div>
        <div class="content">
            <div>
                <div class="guidance">
                    <h3>Our general safety guidance</h3>
                    <div class="guidance-content">
                        <img src="../../../assets/images/staysafe3.png" height="207px" width="207px">

                        <ul>
                            <strong>Keep it local!</strong> Meet the seller in person and inspect the item before making
                            any payment.<br><br>
                            <strong>Never share financial information.</strong> This includes bank account details or
                            any other details that could be misused.<br><br>
                            <strong>Apply common sense.</strong> Steer clear of anything that seems too good to be true,
                            like unrealistically low prices or promises of quick money.<br><br>
                            <strong>Stay vigilant for scams and frauds.</strong> Avoid sharing personal information and
                            steer clear of transactions that seem suspicious.<br><br>
                        </ul>

                    </div>
                </div><br><br>
                <div class="measures">
                    <h3>Our safety measures</h3>
                    <div class="measures-content">
                        <img src="../../../assets/images/staysafe2.png" height="207px" width="207px">
                        <ul>
                            <strong>Your email address is not displayed on your ad.</strong> ensuring protection from
                            spam.<br><br>
                            <strong>Option to hide your phone number on your ad.</strong> You can still be contacted by
                            interested buyers through chat.<br><br>
                            <strong>Block repeat offenders.</strong> We monitor reports of suspicious or illegal
                            activity to prevent offenders from using the site again.<br><br>
                            <strong>Up to date.</strong> We regularly enhance our technology to detect and prevent
                            suspicious or inappropriate activity.<br><br>
                            <strong>Rating and Reviews.</strong> Gain insights into users’ behaviors through detailed
                            feedback and reviews.<br><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>