<div class="admin-change-password-component">
    <div class="change-password-card">
      <strong>Change Password</strong>
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          placeholder="New Password"
          [(ngModel)]="newPassword"
        />
      </div>
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
        />
      </div>
      <button class="change-password-button" (click)="changePassword()">Change Password</button>
    </div>
  </div>
  