<footer class ="footer">
    <div class="footer-box">
        <div class="content-box">
            <div class="about">
                <p class = "title">About us</p>
                <ul type="radio">
                    <li routerLink="/aboutUs">About Us</li>
                    <li routerLink="/terms">Terms and COnditions</li>
                    <li routerLink="/privacyPolicy">Privacy Policy</li>
                </ul>
            </div>      
            <div class="help">
                <p class = "title">Help & Support</p>
                <ul type="radio">
                    <li routerLink="/faq">FAQ</li>
                    <li routerLink="/contactUs">Contact Us</li>
                    <li routerLink="/staySafe">Stay Safe</li>
                    <li routerLink="/feedback">FeedBack & Ratings</li>
                </ul>
            </div>
            <div class="contact-box">
                <div class = "text-box">
                    <p class = "title">More From Secondhand.lk</p>
                    <ul type="radio">
                        <li routerLink="/sellFast">Self Fast</li>
                        <li routerLink="/banner_footer">Banner Ads</li>
                        <li [routerLink]="['/ad-promotion']">Ad Promotions</li>
                    </ul>
                </div>
                <div class="icons">
                    <div class="follow-text">Follow Us On</div>
                    <div class="icon-buttons">
                        <img src="../../assets/facebook.png">
                        <img src="../../assets/linkedin.png">
                        <img src="../../assets/youtube.png">
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="img-box">
            <div class="logo">
                <img src="../../assets/logo.png" width="81px" height="28px">    
            </div>
            <div class="copyright-text">
                <p>Copyright © All rights reserved</p>
            </div>
        </div>
    </div>

</footer>
